*{
    margin: 0%;
    padding: 0%;
   box-sizing: border-box;
}
body{
    background: url(/Assets/Images/dreamstime_s_74844293.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo1 img{
    border-radius: 50%;
}
.logo1 h1{
    margin-top: 50px;
    margin-left: 10px;
    color: aliceblue;
}
.logo1 h1 span1 {
    font-size: larger;
    color: rgb(28, 179, 28);
    font-weight: 800px;
}
.logo1 h1 span2 {
    font-size: larger;
    color: rgb(35, 35, 131);
    font-weight: 800px;
}

.navbar .logo1 {
    display: flex;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.search button {
    float: left;
    width: 20%;
    padding: 20px;
    background: green;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  form.search button:hover {
    background: #0b7dda;
  }